---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} •
      {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}

      <br /><br />
      <img
        src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fgithub.com%2Frhea-so%2Frhea-so.github.io{{ page.url }}&count_bg=%2379C83D&title_bg=%23555555&title=watch&edge_flat=true" />
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% include comment.html %}

  <br />
  <br />
  <script src="https://utteranc.es/client.js" repo="rhea-so/Utterances" issue-term="title" theme="github-light"
    crossorigin="anonymous" async>
    </script>
</div>